			<div id="header">
			    <div id="choix">
        	        <div id="choixlang">
                        $otherLanguageLinks$
        	        </div>
					<div id="switchcss"><a href="#">$switchCss$</a></div>
        	        <div class="flush"></div>
        	    </div>
        	    <div id="navigation">
                    <a href="/">$Home$</a>
                    <span class="sep">¦</span>
        	        <a href="$webprefix$/$language$/blog">$Blog$</a>
                    <span class="sep">¦</span>
                    <a href="$webprefix$/$language$/softwares">$Softwares$</a>
                    <span class="sep">¦</span>
                    <a href="$webprefix$/$language$/about">$About$</a>
        	    </div>
			</div>

			<div id="titre">
				<h1>$title$</h1>
			</div>
			<div class="flush"></div>
			<div id="afterheader" class="default">
				<div class="corps">
					$body$
				</div>

        <div id="afterarticle">
				    <div id="bottom">
            	  <div>
            	      <a href="https://twitter.com/yogsototh">$Follow$ @yogsototh</a>
            	  </div>
            	  <div>
            	      Yann Esposito©
            	  </div>
            	  <div>
            	      Done with
            	      <a href="http://www.vim.org" target="_blank"><span class="strike">Vim</span></a>
            	      <a href="http://spacemacs.org" target="_blank">spacemacs</a>
				    		    <span class="pala">&amp;</span>
                    <a href="http://nanoc.ws" target="_blank"><span class="strike">nanoc</span></a>
				    		    <a href="http://jaspervdj.be/hakyll" target="_blank">Hakyll</a>
            	  </div>
                  <hr/>
                  <div style="max-width: 100%">
                      <a href="https://cardanohub.org">
                          <img src="/Scratch/img/ada-logo.png"
                               class="simple"
                               style="height: 16px;
                                    border-radius: 50%;
                                    vertical-align:middle;
                                    display:inline-block;"/>
                          ADA:
                      </a>
                          <code style="display:inline-block;
                                       word-wrap:break-word;
                                       text-align: left;
                                       vertical-align: top;
                                       max-width: 85%;">
                              DdzFFzCqrhtAvdkmATx5Fm8NPJViDy85ZBw13p4XcNzVzvQg8e3vWLXq23JQWFxPEXK6Kvhaxxe7oJt4VMYHxpA2vtCFiP8fziohN6Yp
                          </code>
                  </div>
            </div>
        </div>
			</div>
