$behindColor: #111111
$mainTextColor: $behindColor
$mainBackgroundColor: white
$revealColor: #d50000
$secondRevealColor: #e25f2f
$lighterRevealColor: #ffbe96
$strongColor: #880000
$imageBackgroundColor: $mainBackgroundColor
$imageBorderColor: #cccccc
$mainLinkColor: $mainTextColor
$textLinkColor: #555555
$highlightColor: #888888
$highlightBlockColor: #555555
$highlightRevealColor: #e25f2f
$lighterText: #cccccc
$lighterColor: #eeeeee
$lighterColorBorderTop: $lighterText
$lighterColorBorderBottom: $lighterText
$secondTextColor: #666666
$codeBlockColor: $mainBackgroundColor
$codeBlockBackgroundColor: $behindColor

// include Computer Modern fonts

@font-face
  font-family: 'cmuntt'
  src: url('fonts/cmuntt.eot')
  src: local('☺'), url('fonts/cmuntt.svg') format('svg'), url('fonts/cmuntt.ttf') format('truetype')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'ComputerModern'
  src: url('fonts/cmunrb.eot')
  src: local('☺'), url('fonts/cmunrb.svg') format('svg'), url('fonts/cmunrb.ttf') format('truetype')
  font-weight: bold
@font-face
  font-family: 'ComputerModern'
  src: url('fonts/cmunsl.eot')
  src: local('☺'), url('fonts/cmunsl.svg') format('svg'), url('fonts/cmunsl.ttf') format('truetype')
  font-style: italic,oblique
@font-face
  font-family: 'ComputerModern'
  src: url('fonts/cmunrm.eot')
  src: local('☺'), url('fonts/cmunrm.svg') format('svg'), url('fonts/cmunrm.ttf') format('truetype')
  font-weight: normal
  font-style: normal

=mainColor
  color: $behindColor
  background:
    color: $mainBackgroundColor

=lightColor
  color: $lighterText
  a
    color: $lighterText
  a:hover
    color: $lighterRevealColor

=highlight
  font:
    style: italic
  padding: 0.5em 1em
  color: $highlightBlockColor
  a:hover
    color: $revealColor
  i, em
    font:
      style: normal
    color: $behindColor

=secondColor
  color: $behindColor
  background:
    color: $lighterColor
  border:
    top: 1px solid $lighterColorBorderTop
    bottom: 1px solid $lighterColorBorderBottom
  a
    color: $secondTextColor
  a:hover
    color: $secondRevealColor
    strong, b, i, em, .nicer
      color: $lighterRevealColor
  hr
    color: $secondTextColor
    border:
      top: 1px solid $secondTextColor
  strong, b, i, em
    color: $behindColor

=revealColor
  color: $revealColor

=codeColor
  background:
    color: $codeBlockBackgroundColor
  color: $codeBlockColor

table.description tr td
  border: 1px solid $lighterColor

.assombris20
  background-color: $lighterColor

body
  color: $behindColor
  background:
    color: $mainBackgroundColor

#content
  +mainColor

a:hover
  text-shadow: 0 0 2px #FAA

a, a:link, a:visited, a:active, a:hover, #clickcomment
  text-decoration: none
  outline: none

a, a:link, a:visited, a:active, #clickcomment
  color: $mainLinkColor

a:hover, #clickcomment:hover
  +revealColor

hr
  color: $lighterColor
  border:
    top: 1px solid $lighterColor
    bottom: none
    left: none
    right: none

ul
  list-style: square
ol,ul
  padding-left: 0
ol li, ul li
  margin: 1em 0
ol li ul, ol li ol, ul li ol, ul li ul
  margin: 1em 1em

body, h1, h2, h3, h4, #entete, .tag
  font-family: "ComputerModern", Georgia, Palatino, "Century Schoolbook L", "Times New Roman", Times, serif
  text-rendering: optimizelegibility
  line-height: 1.4em

pre
  +codeColor
  padding: 1em
  line-height: 1.2em

pre, code
  font:
    family: "cmuntt",Incosolata,Monaco,monospace

p
  margin-bottom: 1.2em

blockquote
  +highlight

abbr,
acronym
  font-variant: small-caps
  text:
    decoration: none
  border:
    bottom:
      width: 0

// -- STYLE --

#titre
  letter-spacing: -0.06em
  border:
    bottom: 4px double $lighterText
    top: 4px double $lighterText

#liens .active, #sousliens
  +secondColor
  border-top: none

// -- FOOTER --
#lastmod
  font-size: 0.8em

// --- DYNAMICS --
.nojsbutton
  font-size: 2.5em

#clickcomment
  cursor: pointer
  font-size: 1.2em

// -- TYPOGRAPHY --
.small
  font-size: 0.8em

.sc
  font-variant: small-caps

.impact, .darkimpact
  font-size: 2em
  margin: 0 auto 1em auto
  line-height: 1.3em

// -- DATES --

h1 > .date
  font-size: 0.6em
  color: $behindColor

.date
  font-size: 0.8em
  color: $mainBackgroundColor
  border: 1px solid $mainTextColor
  text-align: center
  width: 4.1em
  line-height: 1.5em
  display: inline-block
  vertical-align: middle
  margin-right: 1em

.date .day,
.date .month,
.date .year
  display: block

.date .day
  color: $behindColor
  background-color: $mainBackgroundColor
  float: left
  width: 1.7em

.date .month
  float: right
  width: 2.3em
  background-color: $behindColor
  color: $mainBackgroundColor

.date .year
  line-height: 3ex
  clear: both
  +secondColor

// --- LAYOUTS --
$VPadCorps: 3em
$VMarginCorps: 3em

// ATTENTION DOIT ETRE 0 pour le bon callage
$HMarginCorps: 0
$content_width: 52em

body
  text-align: center
  font-size: .9em

body > #entete
  position: absolute
  left: 0
  top: 0.5em
  width: 100%
  min-width: $content_width - 2em
  z-index: 8000
  padding-bottom: 1em
  margin-bottom: $VMarginCorps

body > #content > #entete > #choix > #choixrss > #rss
  font-size: 1em

#titre h2
  width: 80%
  margin-left: auto
  margin-right: auto
  text-align: center
  color: $lighterText

#titre
  text-align: center
  width: 100%

#titre h1, #titre h2
  padding-left: 1em
  padding-right: 1em

// le pied de page
#bottom
  clear: right
  margin-right: 0px
  padding: 1.5em
  line-height: 1.5em
  color: $lighterText
  margin-top: 2em
  text-align: center
  a
    color: $lighterText
  a:hover
    +revealColor

// Les menus

#sousliens
  padding: 1em 0
  line-height: 2em

#sousliens ul
  list-style: none
  margin-left: 4em

ul.horizontal li
  display: inline
  font-size: 0.9em

ul.horizontal
  margin-top: 0px
  margin-bottom: 0px

#entete
  padding-top: 0.1em
  border-top: 1px solid $lighterColorBorderTop
  border-bottom: 1px solid $lighterColorBorderTop

#liens
  width: 100%
  padding: 0
  clear: both
  margin-top: 0.5em

#liens ul
  width: 100%
  clear: both
  padding: 0
  margin: 0

$hauteur_menu: 4em

#liens ul li
  display: inline-block
  height: $hauteur_menu
  margin-left: 0.2em
  margin-right: 0.2em
  width: 23%

#liens ul li a,
#liens ul li span
  width: 100%
  display: block
  line-height: $hauteur_menu

// Un 'helper'
.clear
  clear: both

// Le Contenu
#content
  line-height: 4em
  margin-left: auto
  margin-right: auto
  margin-top: 0
  position: relative
  clear: both
  width: $content_width

#content > #choix
  margin-top: 1em

$contentMargin: 0em

.encadre, .black, .red, .intro, .resume, .shadow
  padding:
    left: 2em
    right: 2em
  margin:
    top: 2em
    bottom: 2em

.encadre, .black, .red, .shadow
  +secondColor

.intro, .resume
  font-size: 0.9em
  +highlight

#afterheader > h1
  width: 100%
  padding-top: 1.5em
  text-align: left

#afterheader
  padding-left: $contentMargin
  padding-right: $contentMargin

#sousliens
  margin:
    top: $VMarginCorps
    bottom: $VMarginCorps
  font-size: 1.2em
  letter-spacing: 1px
  text-align: left
  clear: both

.twilight
  line-height: 1.1em

$fontcorps: 1.25

.corps
  font-size: #{$fontcorps}em
  line-height: 1.6em
  text-align: justify
  text-align: left
  padding: $VPadCorps 3em
  margin: 0 $HMarginCorps
  border-bottom: 1px $lighterColorBorderBottom solid
  clear: both

$corps_width: ($content_width - 2 * $contentMargin) / $fontcorps
$hpadding: 1

.corps img
  max-width: 30em
  border: 1px solid $imageBorderColor
  background-color: $imageBackgroundColor
  padding: 0.5em
  box-shadow: 0 10px 15px #CCC

img.clean
  border: none

//  les clear

#address
  clear: both

.definitionCell
  width: 5em
  vertical-align: top
  font-weight: bold
  text-align: center

.valueCell
  text-align: right

.smallblock
  float: left
  width: 50%
  font-size: 1em
  font-weight: bold

.largeblock
  float: right
  width: 70%
  font-size: 1em

#blackpage, #nojsredirect
  top: 0
  left: 0
  width: 100%
  height: 100%
  margin-left: 0
  margin-right: 0
  margin-top: 0
  margin-bottom: 0
  position: fixed
  text-align: center

#blackpage
  color: #666666
  padding-top: 10em
  background-color: #eeeeee
  z-index: 9000
  cursor: wait
  img
    background: none
    border: none
  a
    cursor: pointer

#nojsredirect
  z-index: 9001

.nojsbutton
  width: 50%
  padding: 1em
  border: solid 3px white
  margin-left: auto
  margin-right: auto
  margin-top: 2em
  z-index: 9002

.file
  font-size: 0.8em
  text-align: right
  padding-right: 1em
  margin-right: 0.1
  margin-bottom: 0
  background: $codeBlockBackgroundColor
  a
    color: $codeBlockColor

.flush
  clear: both

table.description
  border-spacing: 5px
  border-collapse: separate
  margin-right: auto
  margin-left: auto

table tr td, table.description tr td
  padding-left: 0.5em
  padding-right: 0.5em
  padding-top: 0.5ex
  padding-bottom: 0.5ex
  vertical-align: top
  margin-right: 5px
  width: 27em
  &:first-child
    width: 10em

table
  background-color: #FAFAFA
  border: solid 1px #CCC
  border-radius: 3px

ul.long li
  margin-bottom: 1em

img
  display: block
  margin-left: auto
  margin-right: auto
  background: none
  border: none

img.left
  float: left
  max-width: 30%
  margin:
    right: 1em

img.inside
  display: inline
  vertical-align: middle

pre
  overflow: hidden

.withfile pre
  margin-top: 0
  overflow: hidden

.navigationprev, .navigationnext
  padding: 0px
  margin-left: 0.2em
  margin-right: 0.2em
  margin-bottom: 0
  margin-top: $VMarginCorps
  width: 45%

.navigation .navigationprev,
.navigation .navigationnext
  width: 30%
  margin-top: 0

.navigation
  height: 4em
  border-bottom: $lighterColorBorderBottom solid 1px

.presarticleleft,
.presarticleright
  font-size: 1em

.navigationprev
  float: left
  text-align: left

.navigationnext
  float: right
  text-align: right

.impact, .darkimpact
  text-align: left
  width: 66%
  padding-left: 0.25em
  padding-right: 0.25em

table.impact
  text-align: left

table.impact tr td
  padding-left: 0.25em
  padding-right: 0.25em

#liens
  font-size: 1.2em

#iemessage
  font-size: 1.2em

.tag
  display: inline
  cursor: pointer
  margin-left: 0.5em
  margin-right: 0.5em

.list
  margin-top: $VPadCorps

#menuMessage
  font:
    size: 1.2em
  line:
    height: 1.5em
  width: 100%
  text-align: center

#choixrss
  float: right
  width: 25%
  line-height: 2em
#choixlang
  line-height: 2em

#choix a
  color: $highlightColor
#choix  a:hover
  color: $revealColor

#choixlang a
  display: block
  width: 25%
  line-height: 4em
  text-align: center

#next_before_articles
  clear: both
  width: 100%
  font-size: 1.2em
  padding:
    top: 1em
    bottom: 1em

#clickcomment
  margin-left: 0
  width: 25%

#rss
  font-size: 1.2em
  text-align: center
  display: block
  width: 100%
  float: right
  padding: 1em 0.1em

.return a
  text-align: center
  float: right
  width: 25%

.corps .return a
  color: $lighterColor
  padding: 0.1em
  line-height: 1.5em
  font-size: 1.5em
  height: 1.5em
  float: left
  font-size: 2em
  margin-top: -0.5em
  margin-left: -2em
  width: 1.5em

a.return
  color: $lighterColor
  padding: 0.1em
  line-height: 1.5em
  font-size: 1.5em
  height: 1.5em
  font-size: 2em
  width: 1.5em
  display: block
  &:hover
    color: $highlightColor

.corps .return a:hover
  color: $revealColor

.footnotes
  font-size: 0.8em

.fontnotes ol
  margin-left: 0

.typeset img
  display: inline
  border: none
  margin: 0
  padding: 0

i, em
  color: $highlightColor

strong, b
  color: $strongColor

strong, b, i, em
  a
    color: $mainTextColor
  a:hover
    color: $revealColor

.corps p
  strong, b 
    color: $strongColor
  i, em
    color: $highlightBlockColor

a:hover
  strong, b, i, em
    color: $highlightRevealColor

a:hover .nicer
  color: $lighterRevealColor

.nicer
  color: $lighterText
  font-family: "Lucida Grande", Tahoma


.block
  width: 31%
  text-align: left
  line-height: 1em
  margin-left: 1%
  margin-right: 1%
  font-size: 0.8em
  a
    color: $mainTextColor
  a:hover
    color: $revealColor

.block h3
  margin: 0
  font-size: 1.3em

.block p
  line-height: 1.2em

.left
  float: left

.right
  float: right

.corps 
  p a, ul a
    color: $textLinkColor
  p a:hover, ul a:hover
    color: $revealColor

ul.bloglist, .archive ul
  list-style-type: none
  margin: 0
  li
    margin-bottom: 1em

.button
  cursor: pointer
  text-align: center

.disable
  visibility: hidden

dt
  font-style: italic
  color: #666

.detail
  font-size: .8em
