---
title: Bienvenue
noSubMenu: true
no_entete: true
---
<% content_for :title do %>
<span style="color: #93a1a1; font-family: Georgia; font-weight: normal; text-shadow: 0 0 2px #DDD;"">yann<span style="color:#002b36; text-shadow: 0 0 2px #CCC;">esposito</span>.com</span>
<% end %>
<% content_for :subtitle do %>
<span style="font-size: 16px">
<a href="http://twitter.com/yogsototh">@yogsototh</a> 
,<a href="https://plus.google.com/117858550730178181663">+yogsototh</a> 
</span>
<% end %>

            <div class="flush"></div>

        <div class="block left">
            <h3>
                <a href="<%=@config[:webprefix]%>/fr/blog/" onclick="setLanguage('fr')">
                    Blog
                    <span class="nicer">»</span>
                </a>
            </h3>
            <p>
            Ordinateurs, philosophie <em>&amp;</em> des choses de la vie. 
            </p>
        </div>
        <div class="block left">
            <h3>
                <a href="<%=@config[:webprefix]%>/fr/softwares" onclick="setLanguage('fr')">
                    Logiciels
                    <span class="nicer">»</span>
                </a>
            </h3>
            <p>
            Des économiseurs d'écran,
            un gestionnaire de mots de passe <em>&amp;</em>
            des applications scientifiques.
            </p>
        </div>
        <div class="block right">
            <h3>
                <a href="<%=@config[:webprefix]%>/fr/about" onclick="setLanguage('fr')">
                    À propos
                    <span class="nicer">»</span>
                </a>
            </h3>
            <p>
            Au diable la timidité, n'hésitez pas à me contacter, je serai ravi de <i>vous</i> parler.
            </p>
        </div>
        <div class="flush"></div>
        <div class="block left">
            <h3>
                <a href="http://j.mp/btfRJ2">
                    Curriculum Vitæ
                    <span class="nicer">»</span>
                </a>
            </h3>
            <p>
            Doctorat &rarr; Post Doc &rarr; Consultant<br/>
            <i>Geek &rarr; G33K &rarr; G33|&lt;
            </i>
            </p>
        </h4>
        </div>
        <div class="block left">
            <h3>
                <a href="http://yann.esposito.free.fr/enseignement/enseignement.php">
                    Enseignement
                    <span class="nicer">»</span>
                </a>
            </h3>
            <p>
            Informatique:<br/>
            TD, TD <em>&amp;</em> solutions<br/>
            BAC+1 à BAC+5<br/>
            <i><a href="http://yann.esposito.free.fr/enseignement/projetrez0/projetrez0.html">Projet réseau anonyme
                        <span class="nicer">»</span></a>
            </i>
             </p>
        </div>
        <div class="block right">
            <h3>
                <a href="http://web.me.com/yann.esposito/Perso/Welcome.html">
                    Photos
                    <span class="nicer">»</span>
                </a>
            </h3>
            <p>
            <a href="mailto:yannesposito@gmail.com?Subject=Permission%20site%20famille" >
            Cliquez ici pour avoir le mot de passe.
                    <span class="nicer">»</span>
            </a>
            </p>
        </div>
        <div class="flush"></div>
