@charset "UTF-8"

/* COLORS */

/* Solarized palette */
$base03 : #002b36
$base02 : #073642
$base01 : #586e75
$base00 : #657b83
$base0  : #839496
$base1  : #93a1a1
$base2  : #eee8d5
$base3  : #fdf6e3
$yellow : #b58900
$orange : #cb4b16
$red    : #dc322f
$magenta: #d33682
$violet : #6c71c4
$blue   : #268bd2
$cyan   : #2aa198
$green  : #859900
/* I won't use completely */

$behindColor: $base03
$mainTextColor: $behindColor
$mainBackgroundColor: #FAFAFC
$mainShadowColor: $mainBackgroundColor - #334
$secondBackgroundColor: #F2F2F4
$revealColor: #cb4b16
$secondRevealColor: $revealColor
$lighterRevealColor: $revealColor + #666
$imageBackgroundColor: $mainBackgroundColor
$borderColor: #ccccd0
$imageBorderColor: $borderColor
$mainLinkColor: $orange
$textLinkColor: $base02
$highlightColor: $base02
$highlightBlockColor: $base02
$highlightRevealColor: $revealColor + #111
$lighterText: #ccccd0
$lighterColor: #eeeef1
$lighterColorBorderTop: $lighterText
$lighterColorBorderBottom: $lighterText
$secondTextColor: #666677
// solarized dark background color
$codeBlockColor: #839496
$codeBlockBackgroundColor: #002b36

$monofont: Menlo, Monaco, monospace

=selected
  background: $orange
  color: $mainBackgroundColor

::selection
  +selected
::-moz-selection
  +selected

html,body
  font-family: $monofont
  font-size: 14px
  background-color: $mainBackgroundColor
  color: $mainTextColor

body
  line-height: 1.7em
  width: 60em
  margin: 0 auto
  text-align: left

h1,h2,h3,h4
  margin-bottom: 1ex
  max-width: 100%
  line-height: 1em

h1:before, h2:before, h3:before, h4:before
  opacity: 0.5
  display: inline-block
h1:before
  content: "#"
  text-indent: -1.5em
h2:before
  content: "##"
  text-indent: -2em
h3:before
  content: "###"
  text-indent: -2.5em
h4:before
  content: "####"
  text-indent: -3em

a:hover, a:hover code
  background-color: $red
  color: $mainBackgroundColor

a, a:link, a:visited, a:active, a:hover
  text-decoration: none
  outline: none

a
  color: $mainLinkColor

hr
  color: $lighterColor
  border:
    top: 1px solid $lighterColor
    bottom: none
    left: none
    right: none

ul
  list-style: none

ul li:before
  content: "-"
  display: inline-block
  margin-left: 1.5ex
  width: 0

ul
  padding-left: 0
  text-indent: -1.5ex
ol
  padding-left: 0
ol li ol, ul li ol, ul li ul
  margin: 0em 2em 0.6em
  list-style: none
  line-height: 1.5em

pre, code
  line-height: 1.5em
pre
  border: solid 1px $borderColor
  border-radius: 3px
  padding: 1em
  font-size: 12px
  line-height: 1.5em
pre > code
  display: block

img
  max-width: 80%

p
  margin-bottom: 1.2em

abbr,
acronym
  &:after
    content: "*"
    vertical-align: super
    line-height: 0
    font-size: .66em
    color: $highlightColor
  text:
    decoration: none
  border:
    bottom:
      width: 0

// -- TYPOGRAPHY --
.small
  font-size: 0.8em
.tiny
  font-size: 0.6em

/* --- LAYOUTS --- */

$VPadCorps: 3em
$VMarginCorps: 3em
$content_width: 60em
@media only screen and (max-width: $content_width - 2em)
  body
    padding: 1em
    max-width: 90%
    h1, h2, h3, h4
      max-width: 80%
      margin-left: 2em
    img
      max-width: 80%
    ul, ol
      margin-left: 2em

figure
  margin: 3em 0
  text-align: center
  img
    box-shadow: 0 0 5px #CCC inset
  figcaption
    text-align: center
    margin: .5em 0

figure.left, figure.right
  max-width: 30%

img
  display: block
  margin: 1.2em auto
  background: none
  border: none

img.right
  max-width: 30%
  margin:
    top: .6em
    left: 2em
img.left
  float: left
  max-width: 30%
  margin:
    top: .6em
    right: 2em

img.inside
  display: inline
  vertical-align: middle

pre
  overflow-x: auto
  overflow-y: hidden

.footnotes
  font-size: 0.8em
  ol
    color: $base0
    font-weight: bold
    p
      color: $behindColor
      font-weight: normal

.fontnotes ol
  margin-left: 0

.left
  float: left

.right
  float: right

.button
  cursor: pointer
  text-align: center

sup
  vertical-align: top
  font-size: .7em

sub
  vertical-align: bottom
  font-size: .7em

table
  margin: 1.5em auto
  font-size: .8em
  border: 1px solid $borderColor
  border-radius: 3px
table tr td
  padding: 2px .5em
table tr
  &:nth-child(odd)
    background-color: $secondBackgroundColor
  &:nth-child(even)
    background-color: $mainBackgroundColor

p, ul li, ol li
  pre code
    background: none
    border: none
    padding: 0
  code
    background: $secondBackgroundColor - #020202
    border: solid 1px $borderColor
    padding: 2px
    line-height: 1em

ul.sameline
  list-style: none
  li
    float: left
    margin-left: .5em

.base03
  color: $base03
.base02
  color: $base02
.base01
  color: $base01
.base00
  color: $base00
.base0
  color: $base0
.base1
  color: $base1
.base2
  color: $base2
.base3
  color: $base3
.yellow
  color: $yellow
.orange
  color: $orange
.red
  color: $red
.magenta
  color: $magenta
.violet
  color: $violet
.blue
  color: $blue
.cyan
  color: $cyan
.green
  color: $green

.cssdebug
  pre > code:before
    content: "----5---10---15---20---25---30---35---40---45---50---55---60---65---70---75---80***85***90"
    display: block

.intro
  font-style: italic
  padding-bottom: 1.5em
  margin-bottom: 1.5em
  border-bottom: solid 1px rgba(0,0,0,0.1)
