			<div id="header">
			    <div id="choix">
        	        <div id="choixlang">
						<a href="$otherLanguagePath$"
							onclick="setLanguage('$otherlanguage$')">
							$trad changeLanguage$ </a>
        	        </div>
					<script type="text/javascript">// <![CDATA[
					document.write('<div id="switchcss"><a href="#">$trad switchCss$</a></div>');
					// ]]>
					</script>
        	        <div class="flush"></div>
        	    </div>
        	    <div id="navigation">
                    <a href="/">Home</a>
                    <span class="sep">¦</span>
                    <a href="/Scratch/$language$/softwares">Softwares</a>
                    <span class="sep">¦</span>
                    <a href="/Scratch/$language$/about">About</a>
                    <span class="sep">¦</span>
        	        <a href="/Scratch/$language$/blog">Archive</a>
        	    </div>
			</div>

			<div id="titre">
				<h1>$title$</h1>
			</div>
			<div class="flush"></div>
			<div id="afterheader">
				<div class="corps">
					$body$
				</div>

				<div id="bottom">
            	    <div>
            	        <a href="https://twitter.com/yogsototh">Follow @yogsototh</a>
            	    </div>
            	    <div>
            	       Yann Esposito©
            	    </div>
            	    <div>
            	        Done with
            	        <a href="http://www.vim.org">Vim</a>
						<span class="nicer">&amp;</span>
						<a href="http://jaspervdj.be/hakyll">Hakyll</a>
            	    </div>
            	</div>
			</div>
