			<div id="header">
			    <div id="choix">
        	        <div id="choixlang">
                        $otherLanguageLinks$
        	        </div>
					<div id="switchcss"><a href="#">$trad switchCss$</a></div>
        	        <div class="flush"></div>
        	    </div>
        	    <div id="navigation">
                    <a href="/">$trad Home$</a>
                    <span class="sep">¦</span>
        	        <a href="$webprefix$/$language$/blog">$trad Blog$</a>
                    <span class="sep">¦</span>
                    <a href="$webprefix$/$language$/softwares">$trad Softwares$</a>
                    <span class="sep">¦</span>
                    <a href="$webprefix$/$language$/about">$trad About$</a>
        	    </div>
			</div>

			<div id="titre">
				<h1>$title$</h1>
			</div>
			<div class="flush"></div>
			<div id="afterheader" class="default">
				<div class="corps">
					$body$
				</div>

				<div id="bottom">
            	    <div>
            	        Design by <a href="https://yannesposito.com">Yann Esposito</a>
            	    </div>
            	    <div>
            	        Done with
            	        <a href="http://www.vim.org" target="_blank">Vim</a>
						<span class="pala">&amp;</span>
                        <a href="http://nanoc.ws" target="_blank"><span class="strike">nanoc</span></a>
						<a href="http://jaspervdj.be/hakyll" target="_blank">Hakyll</a>
            	    </div>
            	</div>
			</div>
