			<div id="header">
			    <div id="choix">
        	        <div class="return"><a href="#entete">&darr; Menu &darr;</a></div>
        	        <div id="choixlang">
						<a href="$otherlanguage$"
							onclick="setLanguage('$language$')">
							$trad changeLanguage$ </a>
        	        </div>
					<script type="text/javascript">// <![CDATA[
					document.write('<div id="switchcss"><a href="#">$trad switchCss$</a></div>');
					// ]]>
					</script>
        	        <div class="flush"></div>
        	    </div>
        	    <div id="navigation">
        	        <a href="/Scratch">Home</a> -
        	        <a href="/Scratch/about.html">About</a> -
        	        <a href="/Scratch/contact.html">Contact</a> -
        	        <a href="/Scratch/archive.html">Archive</a>
        	    </div>
			</div>

			<div id="titre">
				<h1>$title$</h1>
			</div>
			<div class="flush"></div>
			<div id="afterheader">
				<div class="corps">
					$body$
				</div>

				<div class="corps" id="comment">
            	    <h2 class="first">Comments</h2>
					<div id="disqus_thread"></div>
        			<script type="text/javascript">
        			    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        			    var disqus_shortname = 'yannesposito'; // required: replace example with your forum shortname

        			    /* * * DON'T EDIT BELOW THIS LINE * * */
        			    (function() {
        			        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        			        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        			        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        			    })();
        			</script>
        			<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        			<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
				</div>
				<div id="bottom">
            	    <div>
            	        Published on $published$
            	    </div>
            	    <div>
            	        <a href="https://twitter.com/yogsototh">Follow @yogsototh</a>
            	    </div>
            	    <div>
            	       Yann Esposito©
            	    </div>
            	    <div>
            	        Done with
            	        <a href="http://www.vim.org">Vim</a>
						<span class="nicer">&amp;</span>
						<a href="http://jaspervdj.be/hakyll">Hakyll</a>
            	    </div>
            	</div>
			</div>
