---
title: Home
image: /Scratch/img/presentation.png
noSubMenu: true
no_entete: true
---
<% content_for :css do %>
#mainlogo { display: none; }
#bottom { margin: 0; padding: 0; }
<% end %>
<% content_for :title do %>
    <span style="color: #93a1a1; font-family: cmunrm, Georgia, serif; font-weight: normal; text-shadow: 0 0 2px #DDD;"">yann<span style="color:#002b36; text-shadow: 0 0 2px #CCC;">esposito</span>.com</span>
<div id="content">
<% end %>
<%
latest_en_article = @items.select do |a|
                    a.reps[0].path =~ /\/en\//  && a[:kind] == 'article'
               end.sort { |x,y| y[:created_at] <=> x[:created_at] }[0]
targetUrlEnglish = latest_en_article.path
targetTitleEnglish = latest_en_article[:title]

latest_fr_article = @items.select do |a|
                    a.reps[0].path =~ /\/fr\//  && a[:kind] == 'article'
               end.sort { |x,y| y[:created_at] <=> x[:created_at] }[0]
targetUrlFrench = latest_fr_article.path
targetTitleFrench = latest_fr_article[:title]
%>
    <div class="english left" style="font-size: 0.8em; text-align: left; width: 30%;">
        <div style="color: #AAA">
            English
        </div>
        <h3>
            <a href="/Scratch/en/blog/" onclick="setLanguage('en')">
                Blog <span class="nicer">»</span>
            </a>
            &nbsp;&nbsp;
            <small>
                <em>
                    <a style="color: #888" href="<%=targetUrlEnglish%>">
                        Latest <span class="nicer">»</span>
                    </a>
                </em>
            </small>
        </h3>
        <h3><a href="/Scratch/en/softwares" onclick="setLanguage('en')"> Softwares <span class="nicer">»</span> </a></h3>
        <h3><a href="/Scratch/en/about/contact" onclick="setLanguage('en')">Contact <span class="nicer">»</span> </a></h3>
        <h3> <a href="/resume/index.html"> Resume <span class="nicer">»</span> </a> </h3>
    </div>
    <div class="francais right"style="text-align: right; width: 32%; font-size: 0.8em">
        <div style="color: #AAA">Français</div>
        <h3>
            <a href="/Scratch/fr/blog/" onclick="setLanguage('fr')">
                Blog <span class="nicer">»</span>
            </a>
            &nbsp;&nbsp;
            <small>
                <em>
                    <a style="color: #888" href="<%=targetUrlFrench%>">
                        Dernier article <span class="nicer">»</span>
                    </a>
                </em>
            </small>
        </h3>
        <h3> <a href="/Scratch/fr/softwares" onclick="setLanguage('fr')"> Logiciels <span class="nicer">»</span> </a> </h3>
        <h3> <a href="/Scratch/fr/about/contact" onclick="setLanguage('fr')"> Contact <span class="nicer">»</span> </a> </h3>
        <h3> <a href="http://j.mp/btfRJ2"> Curriculum Vitæ <span class="nicer">»</span> </a> </h3>
        <h3> <a href="http://yann.esposito.free.fr/enseignement/enseignement.php"> Enseignement <span class="nicer">»</span> </a> </h3>
    </div>
    <img class="clean" src="/Scratch/img/presentation.png" alt="Presentation drawing" width="30%"/>
    <div class="flush"></div>
    <center>
        <h2 style="font-size: 15px;">
            <a href="http://twitter.com/yogsototh">@yogsototh</a>
            , <a href="https://plus.google.com/117858550730178181663">+yogsototh</a>
        </h2>
    </center>
</div>
