---
title: Home
noSubMenu: true
no_entete: true
---
<% content_for :title do %>
<span style="color: #93a1a1; font-family: Georgia; font-weight: normal; text-shadow: 0 0 2px #DDD;"">yann<span style="color:#002b36; text-shadow: 0 0 2px #CCC;">esposito</span>.com</span>
<% end %>
<% content_for :subtitle do %>
<span style="font-size: 16px">
<a href="http://twitter.com/yogsototh">@yogsototh</a> 
,<a href="https://plus.google.com/117858550730178181663">+yogsototh</a> 
</span>
<% end %>

            <div class="flush"></div>
            <div class="block left">
                <h3>
                    <a href="<%=@config[:webprefix]%>/en/blog/" onclick="setLanguage('en')">
                        Blog
                        <span class="nicer">»</span>
                    </a>
                </h3>
                <p>
                Computer, Philosophy <em>&amp;</em> Life.
                </p>
            </div>
            <div class="block left">
                <h3>
                    <a href="<%=@config[:webprefix]%>/en/softwares" onclick="setLanguage('en')">
                        Softwares
                        <span class="nicer">»</span>
                    </a>
                </h3>
                <p>
                Password Manager,
                Screensavers  <em>&amp;</em>
                Scientific Applications.
                </p>
            </div>
            <div class="block right">
                <h3>
                    <a href="<%=@config[:webprefix]%>/en/about" onclick="setLanguage('en')">About 
                        <span class="nicer">»</span>
                    </a>
                </h3>
                <p>
                Don't be shy, I'll be happy to talk to <i>you</i>.
                </p>
            </h3>
        </div>

        <div class="flush"></div>
